<h1 class="contents-name"><U>Data</U></h1>

<div class="col-md-12 get-column">
  <div class="sub-contents-name"><h3><U>Get:</U></h3></div>

  <%#= form_tag('index', { :id => 'getValue' }) do %>
    <span>
      <%= text_field_tag :key_name, nil, {
            :placeholder=>"Please input Key Name", 
            :class=>"getKeyName", 
            }
      %>
    </span>
    <%= submit_tag " Get Value ", { :class => "btn get-value-btn allow_submit", :type=>"button" } %>
    <!--button type="button">Get Value</button-->
  <%# end %>



  <div class="get-result"></div> 
</div>




<div class="col-md-12 set-column">
  <div class="sub-contents-name"><h3><U>Set:</U></h3></div>
    <span><%= text_field_tag :key_name, nil, {:placeholder=>"Key Name", :class=>"setKeyName"} %></span>
    <span><%= text_field_tag :value_name, nil, {:placeholder=>"value Name", :class=>"setValueName"} %></span>
    <span><%= text_field_tag :expt_time, nil, {:placeholder=>"Expt Time", :class=>"setExptName"} %></span>
    <span class="send-button">
      <%= submit_tag " Set Value ", { :class => "btn set-value-btn allow_submit" }%>
      <input type="reset" value=" reset " class="btn allow_submit">
    </span>

    <div class="set-result"></div> 
</div>

<div class="col-md-12 snapshot-column">
  <div class="sub-contents-name"><h3><U>Snapshot:</U></h3></div>
  
  <h4><U>Command Generater</U></h4>
  <span><%= text_field_tag :port, nil, {:placeholder=>"Target Port No.", :class=>"snapPort"} %></span>
  <%= submit_tag " Generate ", { :class => "btn snapshot-btn allow_submit" }%>
  <div class="snap-command"></div>

  <h4><U>Status</U></h4>

  <% if flash[:snapshoting] %>
    <div id="snapshotStatus"><%= flash[:snapshoting] %> is executing snapshot</div>
    <div id="snapshotProgress">
      <table border="1">
        <thead>
          <tr>
            <td>storage name</td>
            <td>status</td>
          <tr>
        </thead>
        <tbody>
          <%# @safecopy_stats.each_with_index{|status, index| %>
          <% 10.times{|i| %>
            <tr>
              <td><%= "#{i}.tc" %></td>
              <td id="snapshotStatus<%=i%>"></td> <!-- change by API and Jquery -->
            <tr>
          <% } %>
        </tbody>
      </table>

    </div>
  <% end %>
    <U>last snapshot date:</U><br>
    <div id="lastSnapshotDate"><%= @last_snapshot_data %></div>
</div>
