<h1><U>Cluster</U></h1>

<div class="hero-unit">
  <h1>Hello, ROMA</h1>
</div>


<h2><U>Config</U></h1>
<div class="hero-unit">
  <% @stats_hash["config"].each{|k,v| %>
       <%= k %> <%= v %><br>
  <%   } %>
</div>

<h2><U>stats</U></h1>
<div class="hero-unit">
  <% @stats_hash["stats"].each{|k,v| %>
       <%= k %> <%= v %><br>
  <%   } %>
</div>

<h2><U>storage</U></h1>
<div class="hero-unit">
  <% @stats_hash["storages[roma]"].each{|k,v| %>
       <%= k %> <%= v %><br>
  <%   } %>
</div>

<h2><U>write-behind</U></h1>
<div class="hero-unit">
  <% @stats_hash["write-behind"].each{|k,v| %>
       <%= k %> <%= v %><br>
  <%   } %>
</div>

<h2><U>routing</U></h1>
<div class="hero-unit">
  <% @stats_hash["routing"].each{|k,v| %>
       <%= k %> <%= v %><br>
  <%   } %>
</div>

<h2><U>connection</U></h1>
<div class="hero-unit">
  <% @stats_hash["connection"].each{|k,v| %>
       <%= k %> <%= v %><br>
  <%   } %>
</div>

<h2><U>Others</U></h1>
<div class="hero-unit">
  <% @stats_hash["dns_caching"].each{|k,v| %>
       <%= k %> <%= v %><br>
  <%   } %>
</div>
