<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>

<script>
$(function(){

    $("dd:not(:first)").css("display","none");
    $("dl dt").click(function(){
        if($("+dd",this).css("display")=="none"){
            $("dd").slideUp("slow");
            $("+dd",this).slideDown("slow");
        }
    });

});
</script>


<h1><U>Status</U></h1>
<div class="hero-unit">
  <h1>Hello, ROMA</h1>
  version : <%= @stats_hash["version"] %>
</div>


<dl>

    <dt>Config</dt>
    <dd>
      <table class="table">
        <tbody>
          <% @stats_hash["config"].each{|k,v| %>
            <tr class="active">
              <td valign="top" ><%= k %></td>
              <td valign="top" ><%= v %></td>
            </tr>
          <% } %>
        </tbody>
      </table> 
    </dd>


    <dt>Stats</dt>
    <dd>
      <table class="table">
        <tbody>
          <% @stats_hash["stats"].each{|k,v| %>
            <tr class="success">
              <td valign="top" ><%= k %></td>
              <td valign="top" ><%= v %></td>
            </tr>
          <% } %>
        </tbody>
      </table> 
    </dd>

    <dt>Storage</dt>
    <dd>
      <table class="table">
        <tbody>
          <% @stats_hash["storages[roma]"].each{|k,v| %>
            <tr class="warning">
              <td valign="top" ><%= k %></td>
              <td valign="top" ><%= v %></td>
            </tr>
          <% } %>
        </tbody>
      </table> 
    </dd>

    <dt>Write Behind</dt>
    <dd>
      <table class="table">
        <tbody>
          <% @stats_hash["write-behind"].each{|k,v| %>
            <tr class="danger">
              <td valign="top" ><%= k %></td>
              <td valign="top" ><%= v %></td>
            </tr>
          <% } %>
        </tbody>
      </table> 
    </dd>

    <dt>Routing</dt>
    <dd>
      <table class="table">
        <tbody>
          <% @stats_hash["routing"].each{|k,v| %>
            <tr>
              <td valign="top" ><%= k %></td>
              <td valign="top" ><%= v %></td>
            </tr>
          <% } %>
        </tbody>
      </table> 
    </dd>

    <dt>Connection</dt>
    <dd>
      <table class="table">
        <tbody>
          <% @stats_hash["connection"].each{|k,v| %>
            <tr class="active">
              <td valign="top" ><%= k %></td>
              <td valign="top" ><%= v %></td>
            </tr>
          <% } %>
        </tbody>
      </table> 
    </dd>

    <dt>Others</dt>
    <dd>
      <table class="table">
        <tbody>
          <%# @stats_hash["dns_caching"].each{|k,v| %>
            <tr class="active">
              <td valign="top" > dns_caching</td>
              <td valign="top" ><%= @stats_hash["dns_caching"] %></td>
            </tr>
          <%# } %>
        </tbody>
      </table> 
    </dd>

</dl>






<!--
<h2><U>====Debug====</U></h1>
<div class="hero-unit">
<script>
/*
   var piyo_id = "<%= @stats_hash %>";
   document.write(piyo_id); 
*/
   document.write("<%= @stats_json %>"); 
   <%#= @stats_json %>
</script>
</div>

-->



