<script>
$(function(){

    $("dd:not(:first)").css("display","none");
    $("dl dt").click(function(){
        if($("+dd",this).css("display")=="none"){
            $("dd").slideUp("slow");
            $("+dd",this).slideDown("slow");
        }
    });

    $("[data-toggle=tooltip]").tooltip({
      placement: 'left',
      html: true
    });
});
</script>


<h1><U>Status</U></h1>
<dl>
<% column_name = ["config","stats","storages[roma]","write-behind","routing","connection","others"] %>
<% column_name.each{|name| %>
    <dt><%= name.capitalize %></dt>
    <dd>
      <table class="table">
        <tbody>
          <% @stats_hash[name].each{|k,v| 
               next if check_skip_columns(k)

               if /bnum=(\d+)#xmsiz=(\d+)#opts=([a-z])#dfunit=(\d+)/ =~ v # for storage option %>
                 <tr><td><a href="#" data-toggle="tooltip" title="<%= explanation k %>" style="color:#6f3737;text-decoration:none"><%= k %></a></td><td></td></tr>
                 <tr><td>　　　　bnum  </td><td><%= $1 %></td></tr>
                 <tr><td>　　　　xmsiz </td><td><%= $2 %></td></tr>
                 <tr><td>　　　　opts  </td><td><%= $3 %></td></tr>
                 <tr><td>　　　　dfunit</td><td><%= $4 %></td></tr>
               <% next; end %>

             <tr <% if v.chomp == "false" %> style="background-color: grey;" <% end %>>
              <td valign="top" >
                <a href="#" data-toggle="tooltip" title="<%= explanation k %>" style="color:#6f3737;text-decoration:none">
                  <%= k %>
                </a>
              </td>
              <td valign="top" ><%= v %></td>
            </tr>
          <% } %>
        </tbody>
      </table> 
    </dd>
<% } %>

</dl>


<!--
<h2><U>====Debug====</U></h1>
<div class="hero-unit">

<script>
   var piyo_id = "<%#= @stats_hash %>";
   document.write(piyo_id); 
 /*  document.write("<%#= @stats_json %>");  */
</script>

</div>
-->
