<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<%= render 'routing/modal' %>

<h1><U>Routing</U></h1>

<div class="col-md-12 routing-information">
  <div class="col-md-6 routing-nodes">
    <h4><U>Routing List</U></h4>
    <ul class="routing-nodes-list">
      <%
      @color_type = "info"
      @active_routing_list.inject(""){|past_node, node|
        if node.split("_")[0] != past_node.split("_")[0]
          change_nodes_list_color(@color_type)
        end
      %>
        <h4><span class="label label-<%= @color_type %>"><%= node %></span></h4>
      <%
        node
        }
      %>
    <ul>
  </div>
  
  <div class="col-md-6 routing-options">
    <h4><U>Options</U></h4>
    <ul class="routing-options-list list-group list-group-striped">
      <li class="list-group-item list-striped">lost_action: <%= @stats_hash["routing"]["lost_action"] %></li>
      <li class="list-group-item">digst_bits: <%= @stats_hash["routing"]["dgst_bits"] %></li>
      <li class="list-group-item list-striped">div_bits: <%= @stats_hash["routing"]["div_bits"] %></li>
      <li class="list-group-item">redundancy: <%= @stats_hash["routing"]["redundant"] %></li>
      <li class="list-group-item list-striped">enabled_repetition_host? (routingdump): <%= @enabled_repetition_in_routingdump %></li>
      <li class="list-group-item">enabled_repetition_host? (booting option): <%= @stats_hash["stats"]["enabled_repetition_host_in_routing"] %></li>
      <% if repugnant_repetition_option?(@enabled_repetition_in_routingdump, @stats_hash) %>
        <li class="repetition-error-message"> - repetition_host option is differ between routing and booting option.</li>
      <% end %>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-offset-9 col-md-2 download-button">
      <button class="btn btn-success download-dump" data-toggle="modal" data-target="#download-modal">
        Download routingdump
      </button>
    </div>
  </div>
</div>

<div class="col-md-12 routing-history">
  <h4><U>routing history</U></h4>
  <div class="routing-history-glaph">
    <% if @routing_event.size == 0 %>
      <table class="table table-bordered table-condensed">
        <tr class="history-glaph-title">
          <th>date</th>
          <th>Event</th>
        </tr>
        <tr class="noevent"><td colspan="3">never happened leave or join yet</td></tr>
      </table>

    <% else %>
      <table class="table table-bordered table-condensed tablesorter routing-table ts-pager">
        <thead class="history-glaph-title">
          <tr class="history-glaph-title">
            <th>date</th>
            <th>Event</th>
          </tr>
        </thead>
        <tbody>
          <%
          @routing_event.each{|event|
            event =~ /^([-\d]+)T([\.:\d]+)([a-z]+)(.+)$/
          %>
            <tr class="<%= $3 %>-column">
              <td><%= "#{$1} #{$2}" %></td>
              <td><span class="label label-<%= column_color($3) %>"><%= $3 %></span> <%= $4 %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <div id="pager" class="pager">
        <form>
          <%= image_tag('previous.png', :size => "20x20", :class => "first test_arrow") %>
          <%= image_tag('fast-backward.png', :size => "20x20", :class => "prev") %>
          <input type="text" class="pagedisplay"/>
          <%= image_tag('fast-forward.png', :size => "20x20", :class => "next") %>
          <%= image_tag('next.png', :size => "20x20", :class => "last") %>
          <select class="pagesize">
            <option selected="selected"  value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option  value="40">40</option>
          </select>
        </form>
      </div>

    <% end %>
  </div>
</div>
