<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">




<h1><U>Cluster</U></h1>
<div class="basic-information">
  <h2><U>Health</U>:
    <% if @stats_hash["routing"]["lost_vnodes"].chomp != "0" %>
      <div class="health-button red large_size" style="display: inline-block;">
        <span class="glare red large"></span>
      </div>
    <% elsif @stats_hash["routing"]["short_vnodes"].chomp !="0" %>
      <div class="health-button yellow large_size" style="display: inline-block;">
        <span class="glare large"></span>
      </div>
    <% else %>
      <div class="health-button green large_size" style="display: inline-block;">
        <!-- span class="text">Good</span -->
        <span class="glare large"></span>
      </div>
    <% end %>
  </h2>

  <div class="basic-columns"> 


<table class="flat">
  <tr>
    <td class="debug1">
      instance count
      <br>
      <%= @stats_hash["routing"]["nodes.length"] %><br>
<% if false %>
        <div class="error-instance">
          <% @inactive_routing_list.each{|instance| %> <%= instance %> is down<br><% } %>
        </div>
<% end %>
    </td>
    <td class="debug2">
      server count
      <br>
      <%= get_server_list %>
    </td>
    <td class="debug3">
      ROMA version
      <br>
      <%= @stats_hash["others"]["version"] %>
    </td>
  </tr>
  <tr>
    <td class="debug4">
      short vnodes
      <br>
        <% if @stats_hash["routing"]["short_vnodes"].chomp == "0" %>
          <%= @stats_hash["routing"]["short_vnodes"] %>
        <% else %>
          <font color="red" id="short_vnodes_cnt"><%= @stats_hash["routing"]["short_vnodes"] %></font><br>
        <% end %>
 
    </td>
    <td class="debug5">
      lost vnodes
      <br>
        <% if @stats_hash["routing"]["lost_vnodes"].chomp == "0" %>
          <%= @stats_hash["routing"]["lost_vnodes"] %>
        <% else %>
          <font color="red"><%= @stats_hash["routing"]["lost_vnodes"] %></font><br>
        <% end %>
    </td>
    <td class="debug6">
      Gladiator version
      <br>
      <%= Constants::VERSION %>
    </td>
  </tr>
</table>




<%if false %>
    <ul>
      <li><U>instance count</U> : <%= @stats_hash["routing"]["nodes.length"] %><br>
        <div class="error-instance">
          <% @inactive_routing_list.each{|instance| %> <%= instance %> is down<br><% } %>
        </div>
      </li>
      <li><U>server count</U> : <%= get_server_list %></li>
      <li><U>short vnodes</U> : 
        <% if @stats_hash["routing"]["short_vnodes"].chomp == "0" %>
          <%= @stats_hash["routing"]["short_vnodes"] %>
        <% else %>
          <font color="red" id="short_vnodes_cnt"><%= @stats_hash["routing"]["short_vnodes"] %></font><br>
        <% end %>
      </li>
      <li><U>lost vnodes</U> : 
        <% if @stats_hash["routing"]["lost_vnodes"].chomp == "0" %>
          <%= @stats_hash["routing"]["lost_vnodes"] %>
        <% else %>
          <font color="red"><%= @stats_hash["routing"]["lost_vnodes"] %></font><br>
        <% end %>
      </li>
      <li>
        <U>ROMA version</U> : <%= @stats_hash["others"]["version"] %><br>
        <div class ="error-instance">
          <% @routing_info.each do |instance, info| %>
            <% if chk_main_version(info["version"]) %>
              <font color="red"><%= "#{instance} using #{info["version"]}" %></font><br>
            <% end %>
          <% end %>
        </div>
      </li>
      <li><U>Gladiator Version</U> : <%= Constants::VERSION %></li>
    </ul>
<% end %>



  </div>

  <% if extra_process_chk(@routing_info) %>
    <div id="extra-process">
      <h3><U>Executing process</U></h3>
      <div class="extra-pbar">
        <li><%= extra_process_chk(@routing_info) %> is being executed</li>
        <div class="progress progress-striped active">
          <div id="extra-progress-bar" class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span id="extra-bar-rate">[ToDO]% Complete</span>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>


<div class="instances-information">
  <button class="reset-filter btn btn-primary">Reset Filter</button>
  <div class="instance-table">
    <table class="table table-bordered result-table tablesorter">
      <thead>
        <tr>
          <th>No.</th>
          <th>Cluster Name</th>
          <th class="filter-select" data-placeholder="">Status</th>
          <th>Data rate</th>
          <th>Data size</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% 
        index = 0
        @routing_info.each do |(instance, info)|
          if info["status"] == "active" %>
            <tr>
          <% elsif info["status"] == "inactive" %>
            <tr class="active">
          <% elsif info["status"] =~ /recover|join/ %>
            <tr class="warning">
          <% end %>

            <td><%= index += 1 %></td>

            <td style="text-align: left"><%= instance %></td>

            <td style="text-align: left" class="instance-status-column">
              <% if info["status"] == "active" %>
                <div class="health-button green small_size" style="display: inline-block;"></div>
                <%= info["status"] %>
              <% elsif info["status"] == "inactive" %>
                <div class="health-button grey small_size" style="display: inline-block;"></div>
                <%= info["status"] %>
              <% else %>
                <div class="health-button yellow small_size" style="display: inline-block;"></div>
                <%= info["status"] %>
              <% end %>
            </td>

            <td class="progress-bar-column">
              <% if is_active?(info["status"]) %>
                <div class="progress progress-striped active" >
                  <span class="progress-bar"  role="progressbar" aria-valuenow="<%= current_size_rate(info["size"]) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= current_size_rate(info["size"]) %>%">
                     <%= current_size_rate(info["size"]) %> %
                  </span>
                </div>
              <% end %>
            </td>

            <td>
              <%if is_active?(info["status"]) %><%= instance_size(info["size"]) %> MB<% end %>
            </td>

            <td>
              <form action="update" method="get" style="display:inline">
                <button type="submit" class="btn btn-warning" <%= opt_recover(info["status"], extra_process_chk(@routing_info)) %>>Recover</button>
              </form>
            </td>
          <tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="join-function">
  <h3><u>Add new instance</u></h3>
  [ToDO]
</div>


