<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


<span>
  <!--button id="button-showmodal" title="123" type="button"-->
  <button title="123" type="button">
    boot Modal
  </button>
</span>



    <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="testModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="testModalLabel">Do you want to run Recover?</h4>
          </div>
          <div class="modal-body">
            <ul>
<div id="debug1"></div>
<div id="debug2"></div>
<%= session[:debug] %>

              <li>This function updates routing file with surviving instances.
                <ul class="modal-explanation-detail">
                  <li>Inactive instance will be removed from routing file. </li>
                  <li>After recovering, you can't use inactive instance without join as a new instance or modify routing directly.</li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <!--form action="update" method="get" style="display:inline"-->


<% if false %>
                          <%= form_tag("index", class: "send-command") do %>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Run Release</button>
                            <%#= hidden_field_tag :target_instance, instance %>
                          <% end %>
<% end %>


            <form id="send-command" action="destroy" method="post" style="display:inline">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Run Release</button>
              <input id="hidden-value" type="hidden" name="target_instance" value="192.168.223.2_10003">
            </form>

          </div>
        </div>
      </div>
    </div><!-- End of Modal -->






<% if false %>
<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal hide fade" id="testModal" role="dialog" tabindex="-1">
  <div class="modal-header">
    <span>header contents</span>
  </div>

  <div class="modal-body">
    <span>body contents</span>
  </div>

  <div class="modal-footer">
    <span>footer contetns</span>
  </div>
</div>
<% end %>





<h1><U>Cluster</U></h1>
<div class="basic-information">
  <h2><U>Health</U>:
    <% if @stats_hash["routing"]["lost_vnodes"].chomp != "0" %>
      <div class="health-button red large_size" style="display: inline-block;">
        <span class="glare red large"></span>
      </div>
    <% elsif @stats_hash["routing"]["short_vnodes"].chomp !="0" %>
      <div class="health-button yellow large_size" style="display: inline-block;">
        <span class="glare large"></span>
      </div>
    <% else %>
      <div class="health-button green large_size" style="display: inline-block;">
        <span class="glare large"></span>
      </div>
    <% end %>

    <button class="btn btn-warning" data-toggle="modal" data-target="#recoverModal" <%= can_i_recover?(@stats_hash, @routing_info) %>>
      Recover
    </button>

    <!-- Modal -->
    <div class="modal fade" id="recoverModal" tabindex="-1" role="dialog" aria-labelledby="recoverModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="recoverModalLabel">Do you want to run Recover?</h4>
          </div>
          <div class="modal-body">
            <ul>
              <li>This function updates routing file with surviving instances.
                <ul class="modal-explanation-detail">
                  <li>Inactive instance will be removed from routing file. </li>
                  <li>After recovering, you can't use inactive instance without join as a new instance or modify routing directly.</li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <form action="update" method="get" style="display:inline">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Run Recover</button>
            </form>
          </div>
        </div>
      </div>
    </div><!-- End of Modal -->
  </h2>

  <% if short_vnodes?(@stats_hash) %>
    <div class="status-caution">
      <span id="short-vnodes-caution"><i class="icon-warning-sign"></i></span>
      ROMA have short vnodes. You can solve by executing "Recover" button.
    </div>
  <% end %>

  <% if lost_vnodes?(@stats_hash) %>
    <div class="status-caution">
      <span id="lost-vnodes-caution"><i class="icon-warning-sign"></i></span>
      ROMA have lost vnodes. If you want to repair this, you should rollback routing file directly.
    </div>
  <% end %>


  <div class="basic-columns"> 
    <table class="status-panel">
      <tr>
        <td class="panel-instance">
          instance count
          <div class="panel-value">
            <%= @stats_hash["routing"]["nodes.length"] %><br>
              <div class="error-instance-small">
                <% @inactive_routing_list.each{|instance| %><li> <%= instance %> is down</li><% } %>
              </div>
          </div>
        </td>
        <td class="panel-server">
          server count
          <div class="panel-value">
            <%#= get_server_list %>
            <%= get_active_server_list.size %>
          </div>
        </td>
        <td class="panel-roma-version">
          ROMA version
          <div class="panel-value">
            <%= @stats_hash["others"]["version"] %>
            <div class ="error-instance-small">
              <% @routing_info.each do |instance, info| %>
                <% if chk_main_version(info["version"]) %>
                  <li><%= "#{instance} using #{info["version"]}" %></li><br>
                <% end %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    
      <tr>
        <% if short_vnodes?(@stats_hash) %>
          <td class="panel-short-vnodes-error">
            short vnodes
            <div class="panel-value">
              <span id="short-vnodes-cnt">
                <%= @stats_hash["routing"]["short_vnodes"] %>
              </span>
              <span id="short-vnodes-alert"><i class="icon-warning-sign"></i></span>
            </div>
          </td>
        <% else %>
          <td class="panel-short-vnodes">
            short vnodes
            <div class="panel-value">
              <%= @stats_hash["routing"]["short_vnodes"] %>
            </div>
          </td>
        <% end %>
    
        <% if @stats_hash["routing"]["lost_vnodes"].chomp == "0" %>
          <td class="panel-lost-vnodes">
            lost vnodes
            <div class="panel-value">
              <span class="panel-value"><%= @stats_hash["routing"]["lost_vnodes"] %></span>
            </div>
          </td>
        <% else %>
          <td class="panel-lost-vnodes" id="lost-vnodes-exist">
            lost vnodes
            <div class="panel-value">
              <span id="lost-vnodes-char" ><%= @stats_hash["routing"]["lost_vnodes"] %></span>
              <span id="lost-vnodes-alert"><i class="icon-warning-sign"></i></span>
            </div>
          </td>
        <% end %>
            
        <td class="panel-gladiator-version">
          Gladiator version
          <div class="panel-value">
            <%= Constants::VERSION %>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <% if ex_process = extra_process_chk(@routing_info)
    case ex_process %>
    <% when "recover" %>
      <div class="extra-process" id="extra-process">
    <% when "release" %>
      <div class="extra-process" id="extra-process-release">
    <% end %>

      <h3><U>Executing process</U></h3>
      <div class="extra-pbar">
        <p><%= ex_process %> is being executed</p>

        <div class="progress progress-striped active">
          <div id="extra-progress-bar" class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span id="extra-bar-rate">[ToDO]% Complete</span>
          </div>
        </div>

      </div>
    </div>
  <% end %>

</div>

<div class="instances-information">
  <button class="reset-filter btn btn-primary">Reset Filter</button>
  <div class="instance-table">
    <table class="table table-bordered result-table tablesorter">
      <thead>

        <tr>
          <th rowspan="2">No.</th>
          <th rowspan="2">Cluster Name</th>
          <th rowspan="2" data-placeholder="">Status</th>
          <th rowspan="2">Data rate</th>
          <th rowspan="2" class="datasize-column">Data size</th>
          <th colspan="2">vnodes count</th>
          <% if session[:user_type] == 'root' %>
            <th rowspan="2" class="button-column">&nbsp;</th>
          <% end %>
        </tr>
        <tr>
          <th class="vnodes-column">Primary</th>
          <th class="vnodes-column">Secondary</th>
        </tr>
      </thead>
      <tbody>
        <% 
        #[ToDO] why not use with_idx?
        index = 0
        @routing_info.each do |(instance, info)|
          if info["status"] == "active" %>
            <tr>
          <% elsif info["status"] =~ /inactive|unknown/ %>
            <tr class="active">
          <% elsif info["status"] =~ /recover|join|release/ %>
            <tr class="warning">
          <% end %>
            <!-- instance No. -->
            <td><%= index += 1 %></td>

            <!-- instance name -->
            <td style="text-align: left"><%= instance %></td>

            <!-- instance status -->
            <td class="instance-status-column" nowrap> 
              <% if info["status"] == "active" %>
                <div class="health-button green small_size" style="display: inline-block;"></div>
                <%= info["status"] %>
              <% elsif info["status"] == "inactive" %>
                <div class="health-button grey small_size" style="display: inline-block;"></div>
                <%= info["status"] %>
              <% elsif info["status"] == "unknown" %>
                <span class="unknown-icon"><i class="icon-question-sign"></i></span>
                <%= info["status"] %>
              <% else %>
                <div class="health-button yellow small_size" style="display: inline-block;"></div>
                <%= info["status"] %>
              <% end %>
            </td>

            <!-- Data rate -->
            <td class="progress-bar-column">
              <% if is_active?(info["status"]) %>
                <div class="progress progress-striped active" >
                  <span class="progress-bar"  role="progressbar" aria-valuenow="<%= current_size_rate(info["size"]) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= current_size_rate(info["size"]) %>%">
                     <%= current_size_rate(info["size"]) %> %
                  </span>
                </div>
              <% end %>
            </td>

            <!-- Data size -->
            <td nowrap>
              <%if is_active?(info["status"]) %><%= instance_size(info["size"]) %> MB<% end %>
            </td>

            <!-- Primary nodes -->
            <td>
            <% if info["status"] == "release" %>
              <span id="primary-nodes-cnt"></span>
            <% else %>
              <span id="primary-nodes-cnt-receptive-<%= instance %>">
                <%= info["primary_nodes"] %>
              <span>
            <% end %>
            </td>

            <!-- Secondary nodes-->
            <td>
            <% if info["status"] == "release" %>
              <span id="secondary-nodes-cnt"></span>
            <% else %>
              <%= info["secondary_nodes"] %>
            <% end %>
            </td>


<% session[:re] = instance %>

            <!-- release/rbalse button(for root user) -->
            <% if session[:user_type] == 'root' %>

              <td class="button-column" nowrap>

                <% if is_active?(info["status"]) %>

                  <%#= form_tag("release", class: "form-inline") do %>
                    <button name=<%= instance %> class="btn btn-info" data-toggle="modal" test="111" data-target="#releaseModal" <%= get_button_option(@stats_hash, @routing_info, instance)%>>
                    <!--button class="btn btn-info" <%#= get_button_option(@stats_hash, @routing_info, instance)%>-->
                      Release
                    </button>
                    <%#= hidden_field_tag :target_instance, instance %>
                  <%# end %>


                  <!-- Modal -->
                  <div class="modal fade" id="releaseModal" tabindex="-1" role="dialog" aria-labelledby="releaseModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                          <h4 class="modal-title" id="releaseModalLabel">Do you want to run Release?</h4>
                        </div>
                        <div class="modal-body">
<%= session[:re] %>
                          <ul>
                            <li>This function release the vnodes to other surviving instances without kill instance.
                              <ul class="modal-explanation-detail">
                                <li>Target instance will be removed from routing file. </li>
                                <li>Target instance will not be automatically down. </li>
                                <li>So after releasing, you have to rbalse if you want to remove this instance from ROMA cluster.</li>
                              </ul>
                            </li>
                          </ul>
                        </div>

                        <div class="modal-footer">
                          <%= form_tag :action => 'release' do %>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Run Release</button>
                            <%#= hidden_field_tag :target_instance, instance %>
                          <% end %>
                          
                        </div>
                      </div>
                    </div>
                  </div><!-- End of Modal -->





                  <!-- rbalse button -->
                  <%= form_tag("destroy", class: "form-inline") do %>
                    <button class="btn btn-info" data-toggle="modal" data-target="#rbalseModal">
                      rbalseee
                    </button>

                    <button class="rbalse-button" title=<%= instance %> type="button">
                      rbalsee
                    </button>

                    <% if false %>
                      <button class="btn btn-danger">
                        rbalse
                      </button>
                      <%= hidden_field_tag :target_instance, instance %>]
                    <% end %>

                  <% end %>


                  <!-- Modal -->
                  <div class="modal fade" id="rbalseModal" tabindex="-1" role="dialog" aria-labelledby="rbalseModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                          <h4 class="modal-title" id="rbalseModalLabel">Do you want to run Release?</h4>
                        </div>
                        <div class="modal-body">
                          <ul>
                            <li>This function release the vnodes to other surviving instances without kill instance.
                              <ul class="modal-explanation-detail">
                                <li>Target instance will be removed from routing file. </li>
                                <li>Target instance will not be automatically down. </li>
                                <li>So after releasing, you have to rbalse if you want to remove this instance from ROMA cluster.</li>
                              </ul>
                            </li>
                          </ul>
                        </div>

                        <div class="modal-footer">
                          <%= form_tag :action => 'destroy' do %>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Run Release</button>
                            <%#= hidden_field_tag :target_instance, instance %>
<input id="rbalse-hidden-value" type="hidden" name="target_instance" value='192.168.223.2_77777'>
                          <% end %>
                          
                        </div>
                      </div>
                    </div>
                  </div><!-- End of Modal -->





                <% end %>
              </td>
            <% end %>
          <tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
