<h1>Cluster#index</h1>
<%#= @routing_list %><br>

Health:<br>

instance count : <%= @stats_hash["routing"]["nodes.length"] %><br>
  <% inactive_instance = @routing_list["inactive"] %>
  &nbsp;<font color="red"><%= inactive_instance %> was down</font><br>

server count :
<%
server_arr = []
@routing_list["active"].each{|routing|
  routing =~ /^([-\.a-zA-Z\d]+)_/
  server_arr.push($1) 
} 
%>
<%= server_arr.uniq.size %>      
<br>

short vnodes : <%= @stats_hash["routing"]["short_vnodes"] %><br>

lost vnodes : <%= @stats_hash["routing"]["lost_vnodes"] %><br>

ROMA version : <%= @stats_hash["others"]["version"] %><br>

<% 
main_version = @stats_hash["others"]["version"].chomp

@each_instance_version.each{|routing, vs|
  if main_version != vs %>
    &nbsp;<font color="red"><%= "#{routing} using #{vs}" %></font><br>
  <% end %>
<% } %>


Gladiator Version : <%= Constants::VERSION %>

<br>
<br>
Filter : [ToDO]

<table border=4 bordercolor="#ff0000">
  <tr bgcolor="#cccccc">
    <th>No.</th>
    <th>Cluster Name</th>
    <th>Status</th>
    <th>Data</th>
    <th>&nbsp;</th>
  </tr>

  <% index = 0
  @routing_list.each{|(condition, instances)| %>
    <% instances.each{|routing| %>
      <tr>
        <td> <%= index += 1 %></td>
        <td> <%= routing %></td>
        <td> <%= condition %></td>
        <td>
          <% if condition != "inactive" %>
            <%= ((@each_instance_size[routing] / @each_instance_size.values.compact.inject(:+).to_f) * 100).round(1) %>%
            (<%= @each_instance_size[routing] / 1024 / 1024 %> MB)
          <% end %>
        </td>
        <td>
          <%
          opt_join = "disabled"
          opt_recover = "disabled"
          if condition == "inactive"
            opt_join = nil
          elsif @stats_hash["routing"]["short_vnodes"].to_i != 0
            opt_recover = nil
          end 
          %>
          <BUTTON type="submit" <%= opt_join %>>join</BUTTON>
          <BUTTON type="submit" <%= opt_recover %>>Recover</BUTTON>
        </td>
      <tr>
    <% } %>
  <% } %>

</table>

<br>

<U>Add new instance</U><br>
[ToDO]

