<h1>Cluster#index</h1>
<div>
  <h3>Health</h3>
  <ul>
    <li>
      instance count : <%= @stats_hash["routing"]["nodes.length"] %><br>
      <% @routing_list["inactive"].each{|inactive_instance| %> <font color="red"><%= inactive_instance %> is down</font><br><% } %>
    </li>
    <li>server count : <%= get_server_list %></li>
    <li>short vnodes : <%= @stats_hash["routing"]["short_vnodes"] %></li>
    <li>lost vnodes : <%= @stats_hash["routing"]["lost_vnodes"] %></li>
    <li>
      ROMA version : <%= @stats_hash["others"]["version"] %><br>
      <% @each_instance_version.each do |instance, vs| %>
        <% if chk_main_version(vs) %>
          <font color="red"><%= "#{instance} using #{vs}" %></font><br>
        <% end %>
      <% end %>
    </li>
    <li>Gladiator Version : <%= Constants::VERSION %></li>  
  </ul>
</div>
<div>
  <h3>Filter : [ToDO]</h3>
  <table border=4 bordercolor="#ff0000">
    <tr bgcolor="#cccccc">
      <th>No.</th>
      <th>Cluster Name</th>
      <th>Status</th>
      <th>Data</th>
      <th>&nbsp;</th>
    </tr>

    <% 
    index = 0
    @routing_list.each do |(status, instances)|
      instances.each do |instance| %>
        <tr>
          <td> <%= index += 1 %></td>
          <td> <%= instance %></td>
          <td> <%= @each_instance_status[instance] %></td>
          <td>
            <% if is_active?(status) %>
              <span><%= current_size(instance) %> % (<%= instance_size(instance) %> MB)</span>
            <% end %>
          </td>
          <td>
            <button type="submit" <%= opt_join(status) %>>join</button>
            <button type="submit" <%= opt_recover(status) %>>Recover</button>
          </td>
        <tr>
      <% end %>
    <% end %>
  </table>
</div>
<div>
  <h3><u>Add new instance</u></h3>
  [ToDO]
</div>
