<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<h1><U>Cluster</U></h1>
<div class="basic-information">

  <h2><U>Health</U>:
    <% if @stats_hash["routing"]["lost_vnodes"].chomp != "0" %>
      <div class="health-button red" style="display: inline-block;" >
        <span class="glare red"></span>
      </div>
    <% elsif @stats_hash["routing"]["short_vnodes"].chomp != 0 %>
      <div class="health-button yellow" style="display: inline-block;" >
        <span class="glare"></span>
      </div>
    <% else %>
      <div class="health-button blue" style="display: inline-block;" >
        <!-- span class="text">Good</span -->
        <span class="glare"></span>
      </div>
    <% end %>
  </h2>

  <div class="basic-columns"> 
    <ul>
      <li><U>
        instance count</U> : <%= @stats_hash["routing"]["nodes.length"] %><br>
        <div class="error-instance">
          <% @routing_list["inactive"].each{|inactive_instance| %> <%= inactive_instance %> is down<br><% } %>
        </div>
      </li>
      <li><U>server count</U> : <%= get_server_list %></li>
      <li><U>short vnodes</U> : 
        <% if @stats_hash["routing"]["short_vnodes"].chomp == "0" %>
          <%= @stats_hash["routing"]["short_vnodes"] %>
        <% else %>
          <font color="red"><%= @stats_hash["routing"]["short_vnodes"] %></font><br>
        <% end %>
      </li>
      <li><U>lost vnodes</U> : 
        <% if @stats_hash["routing"]["lost_vnodes"].chomp == "0" %>
          <%= @stats_hash["routing"]["lost_vnodes"] %>
        <% else %>
          <font color="red"><%= @stats_hash["routing"]["lost_vnodes"] %></font><br>
        <% end %>
      </li>
      <li>
        <U>ROMA version</U> : <%= @stats_hash["others"]["version"] %><br>
        <div class ="error-instance">
          <% @each_instance_version.each do |instance, vs| %>
            <% if chk_main_version(vs) %>
              <font color="red"><%= "#{instance} using #{vs}" %></font><br>
            <% end %>
          <% end %>
        </div>
      </li>
      <li><U>Gladiator Version</U> : <%= Constants::VERSION %></li>
    </ul>
  </div>
  <div class="extra-process">
    <h3><U>Other process(join or Recover)[ToDO]</U></h3>
    <div class="progress progress-striped active">
      <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
        <span>[ToDO]% Complete</span>
      </div>
    </div>
  </div>
</div>

<div class="instances-information">
  <h3>Filter : [ToDO]</h3>
  <div class="instance-table">
    <table class="table table-bordered result-table">
      <tr>
        <th>No.</th>
        <th>Cluster Name</th>
        <th>Status</th>
        <th>Data</th>
        <th>&nbsp;</th>
      </tr>

      <% 
      index = 0
      @routing_list.each do |(status, instances)|
        instances.each do |instance| %>
          <% if @each_instance_status[instance] == "active" %>
            <tr>
          <% elsif @each_instance_status[instance] == "inactive" %>
            <tr class="active">
          <% elsif @each_instance_status[instance] =~ /recover|join/ %>
            <tr class="warning">
          <% end %>
            <td> <%= index += 1 %></td>
            <td> <%= instance %></td>
            <td> <%= @each_instance_status[instance] %></td>
            <td class="p-bar">
              <% if is_active?(status) %>
                  <div class="progress progress-striped active">
                    <span class="progress-bar"  role="progressbar" aria-valuenow="<%= current_size(instance) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= current_size(instance) %>%">
                       <span><%= current_size(instance) %> %</span>
                    </span>
                  (<%= instance_size(instance) %> MB)
                  </div>
              <% end %>
            </td>
            <td>
              <button type="submit" <%= opt_join(status) %>>join</button>
              <button type="submit" <%= opt_recover(status) %>>Recover</button>
            </td>
          <tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
<div class="join-function">
  <h3><u>Add new instance</u></h3>
  [ToDO]
</div>


