<div class="container">
  <div class="row">
    <div class="col-md-12" id="login-area">
        <div id="login-contents">
          <div class="col-md-5" style="background-color: grey;">


            colloseum specification



          </div>  
          <div class="col-md-7" style="background-color: grey;">


            login form




          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!--container -->



<% if false %>

<div class="container" style="background-color: red;">
  container
  <div class="row" style="background-color: blue;">
    row<br>
    <div class="col-md-6" style="background-color: green;">
      Level 1: col-md-6
      <div class="row">
        row<br>
        <div class="col-md-6">
	  Level 2: col-md-6
	</div>
	<div class="col-md-6">
	  Level 2: col-md-6<br>
	</div>
      </div>
    </div>
    <div class="col-md-6" style="background-color: yellow;">
      Level 1: col-md-6
    </div>
  </div>
</div>

<% end %>

<% if false %>
<%# if true %>
<div class="container" style="background-color: red;">
  <div class="row" style="background-color: black;">
    <div class="col-md-12" style="background-color: black;">
      margin
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
  <div class="row" style="background-color: blue;">
    <div class="col-md-1" style="background-color: yellow;">
    </div>
    <div class="col-md-10" style="background-color: pink;">
      <div class="row" style="background-color: purple;">

        <div class="col-md-5" style="background-color: white;">
          colloseum specification
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>

        <div class="col-md-7" style="background-color: grey;">
          login form
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>



      </div>
    </div>
    <div class="col-md-1" style="background-color: yellow;">
    </div>
  </div>
  <div class="row" style="background-color: black;">
    <div class="col-md-12" style="background-color: black;">
      margin
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div> <!--container -->

<% end %>

<% if false %>
<%# if true %>



<%= image_tag("login_colloseum.png", :id => "login_background") %>

<div class="row-fluid">
  <div class="col-md-7">

    <div class="gladiator_specification">
      <div class="login_title">Gladiator</div>
      <div class="login_subtitle">
        <div>Intuitive operation.</div>
        <div>Easy monitoring.</div>
      </div>

      <div class="login_contents">
        <ul class="explanation_list" style="list-style:none;">
          <li>Gladiator is a GUI contorl tool of ROMA.</li>
          <li>Do you wanna manage ROMA more easily?<br>more viscerally?</li>
          <li>Gladiator can satisfies it.</li>
          <br>
          <a><li>How to make account?[toDO:Documentate]</li></a>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="col-md-5">
    
    <div class="login_area">

      <%= form_tag :action => 'auth' do %>
        <div class="field">
          <div><%= text_field_tag(:username, '', { :placeholder =>'username' ,:size => 30 }) %></div>
        </div>
      
        <div class="field">
          <div><%= password_field_tag(:password, '', { :placeholder => 'password', :size => 30 }) %></div>
        </div>
      
        <% if flash[:referer] %>
          <%= hidden_field_tag :referer, flash[:referer] %>
        <% end %>
      
        <%#= submit_tag 'login to Gladiator' %>
        <!--button class="btn btn-success"-->
        <button class="btn btn-success btn-lg btn-block">
          Login to Gladiator
        </button>
      <% end %>
    <br>
      <span class="login_error"><%= flash[:error] %></span>
      <span class="login_error"><%= flash[:filter_msg] %></span>
    </div>
  </div>
</div>

<% end %>
