<%= image_tag("login_colloseum.png", :id => "login_background") %>

<div class="row-fluid">
  <div class="col-md-7">

    <div class="gladiator_specification">
      <div class="login_title">Gladiator</div>
      <div class="login_subtitle">
        <div>Intuitive operation.</div>
        <div>Easy monitoring.</div>
      </div>

      <div class="login_contents">
        <ul class="explanation_list" style="list-style:none;">
          <li>Gladiator is a GUI contorl tool of ROMA.</li>
          <li>Do you wanna manage ROMA more easily?<br>more viscerally?</li>
          <li>Gladiator can satisfies it.</li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="col-md-5">
    
    <div class="login_area">

      <%= form_tag :action => 'auth' do %>
        <div class="field">
          <div><%= text_field_tag(:username, '', { :placeholder =>'username' ,:size => 30 }) %></div>
        </div>
      
        <div class="field">
          <div><%= password_field_tag(:password, '', { :placeholder => 'password', :size => 30 }) %></div>
        </div>
      
        <% if flash[:referer] %>
          <%= hidden_field_tag :referer, flash[:referer] %>
        <% end %>
      
        <%#= submit_tag 'login to Gladiator' %>
        <!--button class="btn btn-success"-->
        <button class="btn btn-success btn-lg btn-block">
          Login to Gladiator
        </button>
      <% end %>
    <br>
      <span class="login_error"><%= flash[:error] %></span>
      <span class="login_error"><%= flash[:filter_msg] %></span>
    </div>
  </div>
</div>

