<div class="row-fluid">
  <!--div class="col-md-5" style="background-color: red;"-->
  <div class="col-md-5" style="background-color: red;">
    <div class="gladiator_message">
      <h1>Gladiator is hogehoge.</h1>
      <ul class="aaa" style="list-style:none;">
      <li><h3>Easy to hogehoge</h3></li>
      <li><h3>Strongly hogehoge</h3></li>
      </ul>
          
    </div>
  </div>
  
  <!--div class="col-md-7" style="background-color: yellow;"-->
  <div class="col-md-7" style="background-color: yellow;">
    <p style="color: Red"><%= flash[:error] %></p>
    <p style="color: Red"><%= flash[:filter_msg] %></p>
    
    <div class="login_area">
      <%= form_tag :action => 'auth' do %>
        <div class="field">
          <div><%= text_field_tag(:username, '', { :placeholder =>'username' ,:size => 30 }) %></div>
        </div>
      
        <div class="field">
          <div><%= password_field_tag(:password, '', { :placeholder => 'password', :size => 30 }) %></div>
        </div>
      
        <% if flash[:referer] %>
          <%= hidden_field_tag :referer, flash[:referer] %>
        <% end %>
      
        <%#= submit_tag 'login to Gladiator' %>
        <!--button class="btn btn-success"-->
        <button class="btn btn-success btn-lg btn-block">
          Recover
        </button>
      <% end %>
    </div>
  </div>
</div>
