<h1>Logs#index</h1>
<p>Find me in app/views/logs/index.html.erb</p>

<% if false %>
<% @raw_logs.each{|instance, logs| %>
  <ul>
    <li><%= instance %></li>
    <ul>
      <% logs.each{|log| %>
        <li><%= log %></li>
      <% } %>
    </ul>
  </ul>
<% } %>
<% end %>


<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">

  <% @raw_logs.each_with_index{|(instance, logs), index|
    if index == 0 %>
      <li class="active"><a href="#<%= compact_instance(instance) %>" role="tab" data-toggle="tab"><%= instance %></a></li>
    <% else %>
      <li><a href="#<%= compact_instance(instance) %>" role="tab" data-toggle="tab"><%= instance %></a></li>
    <% end %>
  <% } %>
</ul>


<!-- Tab panes -->
<div class="tab-content">
  <% @raw_logs.each_with_index{|(instance, logs), index|
    if index == 0 %>
      <div class="tab-pane active" id=<%= compact_instance(instance) %>>
    <% else %>
      <div class="tab-pane" id=<%= compact_instance(instance) %>>
    <% end %>
      <% logs.each{|log|
        log =~ /([T:.\d-]+)\W+\d+\W+(\w+)\W+(.+)/ %>
        <li><%= "#{$1} #{$2} #{$3}" %></li>
      <% } %>
    </div>
  <% } %>
</div>
