<!DOCTYPE html>
<html>
<head>
  <title>Gladiator</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
	<a class="navbar-brand" href="#" data-no-turbolink="1"><%= image_tag "Gladiator_logo.png", :size => '40x40' %> GLADIATOR(仮)<FONT size="4"> -roma control-</FONT></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Link1", "/path1"  %></li>
          <li><%= link_to "Link2", "/path2"  %></li>
          <li><%= link_to "Logout", "/path3"  %></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="wrap">
    <div class="main">
      <div class="container">
        <div class="row-fluid">
          <div class="col-md-3">
            <div class="list-group">
              <a href="/path1"      class="list-group-item" data-no-turbolink="1">Cluster</a>
              <a href="/stat/index" class="list-group-item" data-no-turbolink="1">Status</a>
              <a href="/path3"      class="list-group-item" data-no-turbolink="1">Configuration</a>
              <a href="/path4"      class="list-group-item" data-no-turbolink="1">Snapshot</a>
              <a href="/path5"      class="list-group-item" data-no-turbolink="1">Key/Value</a>
              <a href="/path5"      class="list-group-item" data-no-turbolink="1">logs</a>
              <a href="/path5"      class="list-group-item" data-no-turbolink="1">History</a>
            </div>
          </div><!--/col-md-3-->
          <div class="col-md-9" id="param-detail-list">
            <%= yield %>
          </div><!--/col-md-9-->
        </div><!--/row-->
      </div>
    </div>
  </div>
  <div id="footer">
  	<div class="container">
      <p>@ 2014 Roma Project / Sponsored by Rakuten, Inc. and Rakuten Institute of Technology</p>
    </div>
  </div><!-- /footer -->
  
</body>
</html>